.field-body{
  display: grid;
  grid-template-columns: 1.5fr 5fr 0.7fr;
  grid-gap: 6px;
  align-items: center;
  height: 50px;
}
.input-text{
  width: 95%;
  background-color: lightgrey;
  border-radius: 6px;
  border: none;
  height: 30px;
}
.input{
  height: 30px;
  background-color: lightgrey;
  border-radius: 6px;
  border: none;
}
.button{
  background-color: plum;
  color: white;
  border-radius: 6px;
  border: palevioletred;
  height: 30px;
  width: 70px;
}
.is-primary{
  background-color: plum;
}
.is-success{
  background-color: green;
}



