.root{
  display: flex;
  width: 100%;
  position: relative;
}
.root .x-icon-button{
  position: absolute;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: rgb(22, 28, 41) url('../../../assets/delete_icon.svg') no-repeat center;
  right: -17px;
  top: -17px;
  transform: scale(0);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.root:hover .x-icon-button{
  opacity: 1;
  transform: scale(1);
}
.root .x-icon-button:hover{
  transform: scale(1.2);
}
.budget-item{
  display: flex;
  width: 100%;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.budget-item:hover{
  background-color: #7b7b7b;
}
.budget-item .description{
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  margin-left: 5px;
  align-items: center;
}
.budget-item .amount{
  padding: 5px;
  border-radius: 3px;
}
.expense p{
  color: red;
}
.expense .amount{
  background-color: palevioletred;
}
.income p{
  color: green;
}
.income .amount{
  background-color: lightgreen;
}
